{% extends 'book/base.html' %}
{% block content %}
<br />
<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <h1 class="display-4">Editar Livro</h1>
    <hr class="my-4" />
    <form method="POST" action="{{ url_for('edit_book', id=book['id']) }}">
      <div class="form-group">
        <label for="nome-livro">Nome do Livro</label>
        <input type="text" class="form-control" id="nome-livro" name="nome-livro" value="{{ book['name'] }}" required>
      </div>
      <br>
      <div class="form-group">
        <label for="nome-autor">Nome do Autor</label>
        <input type="text" class="form-control" id="nome-autor" name="nome-autor" value="{{ book['author'] }}" required>
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Salvar</button>
      <a class="btn btn-dark" href="{{ url_for('home') }}" role="button">Voltar</a>
    </form>
  </div>
</div>
{% endblock %}