<!DOCTYPE html>
<html>

<head>
    <link href="{{ url_for('static', filename='login.css')}}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap" rel="stylesheet">
    <title>Login</title>
</head>

<body>
    <center>
        <div class="container">
            <div class="container-login">
                <h1 class="title">Login</h1>
                <br method="POST">
                <div class="name">
                    <input class="input-name" type="name" name="name" placeholder="Email">
                </div>

                <div class="password">
                    <input class="input-password" type="password" name="password" id="Password" placeholder="Senha">
                </div>

                <br>
                <input type="submit" class="button-submit" value="FAZER LOGIN">
                </form>
            </div>
            <div class="container-image">
                <img src="{{ url_for('static', filename='logo.png')}}" alt="">
            </div>
        </div>
    </center>
</body>

</html>